<div id="<%= dom_id article %>" class="mb-10">
  <div >
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>
  </div>
  <div >
    <p>
      <strong>Description:</strong>
      <%= article.description %>
    </p>
  </div>
</div>
