<div class="flex flex-col gap-4 w-full">
  <%= link_to "â† Back to Article Details", [:admin, @article], class: "w-fit text-red-400 cursor-pointer hover:text-red-600" %>

  <div class="font-bold text-xl">
    <% content_for :title, "Editing Article" %>
    <h1>Editing Article</h1>
  </div>

  <%= render "form", article: @article %>

 
</div>
<br>