<div class="flex flex-col font-bold text-xl w-full">
  <p class="text-green-500 font-rg"><%= notice %></p>
  <% content_for :title, "Articles" %>
  <div class="flex flex-row justify-between items-center">
    <h1 class="mb-4 text-2xl font-bold">Articles</h1>
    <%= link_to "New article", new_admin_article_path ,class: "mt-5 my-5 text-black btn btn-primary w-fit"%>
  </div>
  
  <div class="flex flex-col gap-4">
    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article %>
        <p class="mb-8">
          <%= link_to "Show this article", [:admin , article] ,class: "flex justify-center btn btn-primary"%>
        </p>
      <% end %>
    </div>
  </div>
</div>