<div class="flex flex-col font-bold text-xl w-full">
  <p class="text-green-500 font-rg"><%= notice %></p>
  <% content_for :title, "Articles" %>
  <h1 class="mb-4">Articles</h1>
  <div class="flex flex-col gap-4">
    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article %>
        <p class="mb-8">
          <%= link_to "Show this article", [:admin , article] ,class: "flex justify-center btn btn-primary"%>
        </p>
      <% end %>
    </div>
  </div>
</div>