<div class="flex flex-col gap-4 w-full">
  <%= link_to "â† Back to Articles", admin_articles_path, class: "w-fit text-red-400 cursor-pointer hover:text-red-600" %>

  <div class="font-bold text-xl">
    <% content_for :title, "New article" %>
    <h1>New article</h1>
  </div>

  <%= render "form", article: @article %>
</div>
<br>