<div id="<%= dom_id article %>">
  <div>
    <p>
      <strong>Title:</strong>
      <%= article.content&.title %>
    </p>
  </div>
  <div>
    <p>
      <strong >Description:</strong>
      <%= article.description %>
    </p>
  </div>

</div>
