<div id="<%= dom_id article %>">
  <div class="box">
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>
  </div>
  <div class="box-glass">
    <p>
      <strong >Description:</strong>
      <%= article.description %>
    </p>
    <%if article.cover_image.attached?%>
      <%= image_tag article.cover_image , class: "object-cover w-full h-64"%>
    <%end %>
  </div>
</div>
