<div>
  <div class="carousel w-full">
    <div id="item1" class="carousel-item w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp"
        class="w-full" />
    </div>
    <div id="item2" class="carousel-item w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
        class="w-full" />
    </div>
    <div id="item3" class="carousel-item w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
        class="w-full" />
    </div>
    <div id="item4" class="carousel-item w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
        class="w-full" />
    </div>
  </div>

<% content_for :title, "Articles" %>

<div class="carousel carousel-center rounded-box space-x-4 p-4 bg-base-200">
  <% @articles.each do |article| %>
    <div class="carousel-item">
      <div class="card w-64 bg-base-100 shadow-xl">
        <div class="card-body">
          <%= render article %>
          <div class="mt-2">
            <%= link_to "Show this article", article, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



</div>
